//FLEX MIXIN
@mixin flex(
  $display: flex,
  $direction: row,
  $align: center,
  $justify-content: space-around,
  $wrap: wrap
) {
  display: $display;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify-content;
  flex-wrap: $wrap;
}

//GRID MIXIN
@mixin grid($columns, $rows, $gutter) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gutter;
}

// MEDIA QUERY MIXIN
@mixin responsive($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}
//FORM MIXIN
@mixin form {
  .form {
    position: absolute;
    margin: 5px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    Input,
    textarea {
      width: 97%;
      padding: 0.5rem;
      margin: 0.5rem auto;
    }
    .crud-buttons {
      @include flex(flex, row, center, space-around);
    }
    button {
      background-color: #ff9900;
      padding: 0.3rem 1.7rem;
      margin-top: 1.7rem;
      border: none;
      color: white;
      border-radius: 5px;
      &:hover {
        background-color: #0f0f0f;
        transform: scale(1.1);
      }
    }
  }
}
//BUTTON
@mixin button {
  button {
    background-color: #ff9900;
    padding: 0.7rem 1.7rem;
    margin-top: 1.7rem;
    border: none;
    color: white;
    border-radius: 5px;
    &:hover {
      background-color: #0f0f0f;
      transform: scale(1.1);
    }
  }
}
