@import "../utils/mixins";
@import "../utils//variables";

.menu {
  background-color: white;
  width: 8%;
  position: fixed;
  overflow-y: auto;
  height: 100%;
  overflow-y: auto;
  h3 {
    padding: 4rem 1rem 1rem;
  }
  button {
    margin-left: 1.1rem !important;
    text-align: center;
  }
  height: 100vh;
  &__item {
    padding: 6px 20px;
    list-style-type: none;
    background-color: 200ms;

    &:hover {
      background-color: #ff9900;
    }

    a {
      color: lighten(black, 20%);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        color: orange;
      }
    }
  }
}
