@import "../utils/mixins";
@import "../utils/variables";

.Department-card {
  border: 2px solid white;
  padding: 3rem;
  background-color: white;
  border-radius: 5px;
  width: 600px;
  text-align: center;
  margin-top: 6rem;

  img {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 5px;
  }

  h2 {
    padding-top: 1rem;
    font-size: $forth-font-size;
    color: #ff9900;
    &:hover {
      color: #ff9900;
      transform: scale(1.1);
    }
  }
  p {
    padding-top: 1rem;
    text-align: center;
    overflow-wrap: break-word;
    white-space: normal;
  }
  button {
    background-color: #ff9900;
    padding: 0.7rem 1.7rem;
    margin-top: 1.7rem;
    border: none;
    color: white;
    border-radius: 5px;
    &:hover {
      background-color: #0f0f0f;
      transform: scale(1.1);
    }
  }
  .crud-buttons {
    @include flex(flex, row, center, space-around, wrap);
  }
  @include form();

  .delete-popup {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    backdrop-filter: blur(5px);
    overflow: hidden;
    z-index: 2;
    align-items: center;
    margin: auto;
  }
  .edit-form {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    backdrop-filter: blur(5px);
    overflow: hidden;
    z-index: 2;
    align-items: center;
    margin: auto;
  }
}
