@import "../utils/mixins";
@import "../utils//variables";

.Dash {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  .dash {
    width: 100%;
  }

  h1 {
    padding: 4rem 45%;
    text-align: center;
    justify-content: center;
  }

  .department-cards,
  .event-cards {
    padding: 0rem 15%;

    @include flex(flex, row, stretch, space-between, wrap);
  }

  .add-button {
    margin: 0rem 45%;
    width: 9%;
  }
  @include button();
  .add-form {
    @include form();
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    backdrop-filter: blur(5px);
    height: 1400px;
    width: 100vw;
    overflow: hidden;
    z-index: 2;
  }
}
