@import "../utils/mixins";
@import "../utils//variables";

.Departments {
  h1 {
    text-align: center;
    position: absolute;
    font-size: 60px;
    line-height: 2;
    left: 50%;
    top: 65%;
    margin-top: 5rem;
    transform: translate(-50%, -400%);
    color: black;
    opacity: 0.8;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  }
  .department-cards {
    padding: 22rem 15% 7rem 15%;
    @include flex(flex, row, _, space-between, wrap);
  }
}
@media only screen and (max-width: 1024px) {
  .Departments {
    position: relative;
    .hero {
      height: 60vh;
    }
    h1 {
      top: 17%;
    }
    .department-cards {
      padding-top: 22rem;

      @include flex(flex, row, center, space-around, wrap);
    }
  }
}
