@import "../utils/mixins";
@import "../utils//variables";

.Events {
  .hero {
    opacity: 0.5;
    width: 100%;
    height: 500px;
  }
  .test {
    text-align: center;
    display: block;
    font-size: 60px;
    line-height: 2;
    padding-top: 13rem;
    color: black;
    opacity: 0.8;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  }
  .oneEvent {
    .event-card {
      height: 650px;
    }
  }
  .event-cards {
    padding: 0rem 15% 7rem 15%;

    @include flex(flex, row, _, space-between, wrap);
  }
}

@media only screen and (max-width: 1024px) {
  .Events {
    .hero {
      height: 60vh;
    }

    h1 {
      top: 33%;
    }

    .event-cards {
      padding-top: 0rem;

      @include flex(flex, row, center, space-around, wrap);
    }
  }
}
