@import "../utils/mixins";
@import "../utils//variables";

.Home-page {
 position: relative;
 // height: 500px;

 h2 {
  opacity: 0.8;
 }
 .hero-section {
  position: relative;
  h1 {
   position: absolute;
   top: 84%;
   color: #ffac1c;
  }
 }
 .hero {
  width: 100%;
  height: calc(100vh-90px);

  object-fit: cover;
 }

 .nav-mobile {
  display: none;
 }
 .upcoming-events {
  padding-top: 7rem;
  text-align: center;
  font-size: $tirnary-font-size;
  span {
   color: #ff9900;
  }
 }
 .about-us,
 .Offer {
  padding-top: 8rem;
  text-align: center;
  font-size: $tirnary-font-size;
  span {
   color: #ff9900;
  }
  .About-us-cont {
   @include flex(flex, row, center, space-between);
   padding: 0 15%;
   padding-top: 7rem;
   img {
    width: 30rem;
    object-fit: cover;
    border-radius: 5px;
    flex-basis: 10%;
    height: 20rem;
   }
   .About-us-text {
    flex-basis: 60%;
    text-align: justify;
    font-size: $tirnary-font-size;
   }
   .About-us-text p {
    opacity: 0.8;
   }
  }
 }
 h1 {
  text-align: center;
  position: absolute;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  top: 100%;
  font-size: 45px;
  line-height: 2;
  left: 50%;
  color: #ff9900;
  width: 100%;
  padding-bottom: 4rem;
  transform: translate(-50%, -50%);
  z-index: 1;
 }
 .hero-text {
  text-align: center;
  position: absolute;
  top: 90%;
  font-size: 35px;
  line-height: 2;
  left: 50%;
  font-style: italic;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  span {
   color: #ff9900;
  }
 }

 h2:after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: #ff9900;
  margin: 0 auto;
  margin-top: 35px;
  border-radius: 3px;
 }

 .Offer-container {
  text-align: center;
  padding: 0 15%;

  .card-container {
   @include flex(flex, row, center, space-between);
   text-align: center;
   img {
    text-align: center;
   }
   .card {
    margin: 7rem 0;
    padding: 2rem;
    background-color: #fffff0;
    border-radius: 5px;
    width: 17rem;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
     transform: scale(1.1);
    }
    .card {
     transition: transform 0.5s;
    }
    h3 {
     font-size: $tirnary-font-size;
     opacity: 0.8;
    }
    .icon {
     font-size: 90px;
     color: #ff9900;
     font-weight: 100;
    }
   }
  }
 }
}
@media only screen and (max-width: 1024px) {
 .Home-page {
  .hero {
   height: 60vh;
  }
  .nav-mobile {
   display: block;
  }
  .nav {
   display: none;
  }
  h1 {
   top: 140%;
  }
  .hero-text {
   bottom: 30%;
  }
 }

 .about-us {
  margin: auto;
  .About-us-cont {
   img {
    width: 700px !important;
    height: 400px !important;
   }
   .About-us-text {
    // margin: 2rem 2rem;

    h3 {
     margin-top: 2rem;
     width: 700px;
     text-align: center;
    }
    p {
     font-size: $forth-font-size;
     margin-top: 3rem;
     text-align: justify;
    }
   }
  }
 }
 .Offer-container {
  .card-container {
   margin-top: 6rem;
   .card {
    margin-top: 1rem !important;
   }
  }
 }
}
