@import "../utils/mixins";
@import "../utils//variables";

.Spec-Event {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  position: relative;
  .Nav-Bar {
    background-color: black !important;
    opacity: 0.95;
    .Nav-list {
      li a {
        color: white !important;
        font-weight: 100;
        box-shadow: none !important ;
      }
    }
  }
  .back {
    position: absolute;
    top: 22%;
    left: 16%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    &:hover {
      color: #ff9900;
      transform: scale(1.1);
    }
  }
  .One-Event {
    @include flex(flex, row, center, space-around, wrap);
    padding: 15rem 15% 6rem 15%;
    .singleImage {
      width: 500px;
      border-radius: 5px;
      object-fit: cover;
    }
    .event-text {
      height: 30%;
      h1 {
        color: #ff9900;
        padding-bottom: 1rem;
        width: 750px;
      }
      h2 {
        color: black;
        padding-bottom: 1rem;
        font-size: $base-font-size;
      }
    }

    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      border-radius: 5px;
    }
    p {
      width: 750px;
      text-align: justify;
    }
    .desc {
      line-height: 2rem;
      margin-bottom: 2rem;
    }
  }
}
@include responsive(1024px) {
  .Spec-Event {
    position: relative;
    height: 200%;
    text-align: center;
    .back {
      left: 23%;
      top: 8%;

      display: block;
    }
  }

  .One-Event {
    text-align: center;
    img {
      width: 50%;
      text-align: center;
    }
    .event-text {
      margin-top: 2rem;
    }
    p {
      width: 690px !important;
      text-align: center;
    }
  }
  .slick-track {
    width: 2000px;
  }
  .slick-slide slick-active slick-current {
    width: 2000px;
  }
  Footer {
    position: absolute;
    top: 2000px;
    text-align: justify;
  }
}
