@import "../utils/mixins";
@import "../utils/variables";

.start-Up {
  .container {
    padding: 17rem 15% 5rem 15%;
  }
  .slider img {
    width: 1200px;
    height: 600px;
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin: auto;
    object-fit: cover;
  }
  .hero {
    opacity: 0.5;
    width: 100%;
    height: 500px;
  }
  .tit {
    color: #ff9900;
    padding: 3rem 0rem 1rem 0rem;
  }

  .par {
    padding-top: 1rem;
    text-align: justify;
    a {
      color: #ff9900;
    }
  }
  h1 {
    text-align: center;
    position: absolute;
    font-size: 60px;
    line-height: 2;
    left: 50%;
    margin-top: 4rem;
    top: 65%;
    transform: translate(-50%, -400%);
    color: black;
    opacity: 0.8;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  }
  .sponsored {
    padding-top: 6rem;
    width: 99%;
  }
  .tit {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 1024px) {
  .start-Up {
    h1 {
      display: none;
    }
    .hero {
      height: 60vh;
    }
    width: 100vw;
    text-align: center;
  }
  .sponsored {
    height: 100%;
    margin-bottom: 2rem;
    width: 100px;
  }
  .tit {
    margin: 0rem 0rem 4rem 0;
    padding-top: 0;
    font-size: 70px;
  }
  .Projects {
    text-align: justify;
  }
  p {
    font-size: $base-font-size;
    padding-bottom: 2rem;
  }
}
